In [1]:
import sqlite3

# Display SQLite version number
print (sqlite3.sqlite_version)

3.27.2

In [2]:
# Connect to the Database - the DATABASE must already exisit
# Example of path: 'C:\\Users\\nm319\\OneDrive - University of Exeter\\__Exeter Teaching (2020-21)\\Lab Sessions\\Week 3\\XXX.db'
# conn=sqlite3.connect('C:\\Users\\nm319\\OneDrive - University of Exeter\\__Exeter Teaching (2020-21)\\Lab Sessions\\Week 5\\BEMM459.db')
conn=sqlite3.connect('S:\\Temp\\Assignment\\AssignmentDatabase13.db')    
    
# conn is an object of the Connection class - the next command is only for display
print(type(conn))

# The connection object (conn) has access to various methods of the Connection class. 
# We are using the method cursor() and which returns a cursor object.
# The cursor object is essential to perform any operation on the database (CRUD operations).
cur=conn.cursor()

# The next command is only for display
print(type(cur))

<class 'sqlite3.Connection'>
<class 'sqlite3.Cursor'>

In [3]:
# Listing all tables in database (suggest using SQLIte prompt and command .tables)
# Once we have the cursor object, we can perform all SQL operations with the help of execute() method.

# define a function
def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

In [4]:
# call the function and pass connection object 
tables = tables_in_sqlite_db(conn)

#print tables in the current database
print(tables)

['CATEGORY', 'BOOKS', 'AUTHORS', 'CUSTOMERS', 'BOOKS_AUTHORS']

In [5]:
# Note: If the table is created succesfully, executing the code again will lead to exception

# Once we have the cursor object, we can perform all SQL operations with the help of .execute() method

qry='''
CREATE TABLE CATEGORY (
        catID TEXT   PRIMARY KEY,
        CatName   TEXT (40)
    );
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (Assignmentdatabase1) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table BOOKS and execute this code block again.
        print ('Error in creating table as table exists.. using drop table. Please execute this command again for create the new table.')
        
        # Use the next statement with extreme caution as both table and data will be lost
        cur.execute("DROP TABLE IF EXISTS BOOKS;")

Table created successfully

In [6]:
# Create other three tables using the method executescript() that is defined in the cursor class. 
# executescript() makes it possible to execute multiple SQL statements.

qry='''
CREATE TABLE BOOKS (
        ISBN   INTEGER PRIMARY KEY,
        NAME   TEXT (30),
        PubYear INTEGER (10),
        LANG   TEXT (15),
        CATEGORY   TEXT REFERENCES CATEGORY(catID),
        AUTHOR  TEXT REFERENCES AUTHORS(AuID)
    );
CREATE TABLE AUTHORS (
        AuID TEXT   PRIMARY KEY,
        AuName   TEXT (30),
        Country TEXT (30)
    );
CREATE TABLE CUSTOMERS (
        CuID     TEXT     PRIMARY KEY,
        Name TEXT (30)
    );
CREATE TABLE BOOKS_AUTHORS (
        booksauthorsID     INTEGER     PRIMARY KEY AUTOINCREMENT,
        booksauthorsBOOKS  INTEGER   REFERENCES BOOKS (ISBN),
        booksauthorsAUTHORS TEXT  REFERENCES AUTHORS (AuID),
        booksauthorsCore TEXT (10)  
    );

'''
try:
        cur.executescript(qry)
        print ('Tables created successfully')
except:
        print ('Error in creating tables')

Tables created successfully

In [7]:
qry="insert into BOOKS values (981456101, 'War and Peace', '2010', 'ENGLISH', 'FF', 'LT1');"

try:
        cur.execute(qry)
        conn.commit()
        print ('One record inserted successfully..commit')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()
        print(conn)

One record inserted successfully..commit

In [10]:
qry="insert into BOOKS (ISBN, NAME, PubYear, LANG, CATEGORY, AUTHOR) values (?,?,?,?,?,?);"
BOOKSLIST=[(189192346, 'War and Peace', '2019', 'RUSSIAN', 'FN', 'LT1'),
            (191923466, 'The Little Prince', '2018', 'FRENCH', 'FN', 'AE1'),
            (119234661, 'The Da Vinci code', '2020', 'TH', 'ENGLISH', 'DB1'),
            (292346612, 'Harry Potter and the Chamber of Secrets', '2009', 'ENGLISH', 'FS', 'JR1'),
            (223466122, 'The Catcher In The Rye', '2021', 'ENGLISH', 'FN', 'JS1'),
            (334661234, 'Ben-Hur: A Tale of the Christ', '2019', 'ENGLISH', 'HS', 'LW1'),
            (434661249, 'Rebecca', '2021', 'ENGLISH', 'FN', 'DM1'),
            (592346612, 'A Brief History Of Time', '2018', 'ENGLISH', 'NF', 'SH1'),
            (761219234, 'Becoming', '2019', 'ENGLISH', 'BG', 'MO1'),
            (866121923, 'The Godfather', '2008', 'ITALIAN', 'FN', 'MP1'),
            (946612192, 'Gone Girl', '2017', 'ENGLISH', 'HT', 'GF1'),
            (734661219, 'The Godfather', '2008', 'ENGLISH', 'FN', 'MP1'),
            (546612192, 'The Godfather', '2008', 'ENGLISH', 'FN', 'MP1'),
            (161219234, 'The Secret', '2016', 'ENGLISH', 'SH', 'RB1'),
            (566121923, 'Manâ€™s Search for Meaning', '2020', 'ENGLISH', 'PS', 'VF1'),
            (361292346, 'She: Understanding Femini', '2021', 'ENGLISH', 'PS', 'RJ1'),
            (546619212, 'The Book Thief', '2018', 'GERMAN', 'FN', 'MZ1'),
            (212923466, 'The Book Thief', '2018', 'ENGLISH', 'FN', 'MZ1'),
            (821346612, 'Rich Dad, Poor Dad', '2015', 'ENGLISH', 'BS', 'RK1'),
            (321923466, 'One-storied America', '2007', 'RUSSIAN', 'FN', 'II1')]

try:
        cur.executemany(qry, BOOKSLIST)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [11]:
# Insert one record in table CATEGORY
# Commit only if no exception is encountered, else rollback

qry="insert into CATEGORY values ('FN', 'Fiction');"

try:
        cur.execute(qry)
        conn.commit()
        print ('One record inserted successfully..commit')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()
        print(conn)

One record inserted successfully..commit

In [12]:
qry="insert into CATEGORY (catID, CatName) values (?,?);"
CATEGORYLIST=[('FS', 'Fantasy'),
           ('NF', 'NonFiction'),
           ('TH', 'Thriller'),
           ('HS', 'History'),
           ('BG', 'Biography'),
           ('SH', 'SelfHelp'),
           ('PS', 'Psychology'),
           ('BS', 'Business'),
           ('PH', 'Philosophy')]

try:
        cur.executemany(qry, CATEGORYLIST)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [14]:
# Insert one record in table AUTHORS
# Commit only if no exception is encountered, else rollback

qry="insert into AUTHORS values ('LT1', 'Leo Tolstoy', 'Russia');"

try:
        cur.execute(qry)
        conn.commit()
        print ('One record inserted successfully..commit')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()
        print(conn)

One record inserted successfully..commit

In [15]:
# INSERTING records in table AUTHORS

qry="insert into AUTHORS (AuID, AuName, Country) values (?,?,?);"
authorslist=[('AE1', 'Antoine Exepury', 'France'),
           ('DB1', 'Dan Brown', 'US'),
           ('JS1', 'Jerome Salinger', 'US'),
           ('YH1', 'Yuval Harrari', 'Israel'),
           ('LW1', 'Lew Wallace', 'US'),
           ('DM1', 'Daphne du Maurier', 'UK'),
           ('SH1', 'Stephen Hawking', 'UK'),
           ('MO1', 'Michelle Obama', 'US'),
           ('MP1', 'Mario Puzo', 'Italia'),
           ('GF1', 'Gillian Flynn', 'US'),
           ('RB1', 'Rhonda Byrne', 'Australia'),
           ('VF1', 'Viktor Frankl', 'Austria'),
           ('RJ1', 'Robert A. Johnson', 'US'),
           ('MZ1', 'Markus Zusak', 'AUS'),
           ('RK1', 'Robert Kiyosaki', 'US'),
           ('II1', 'Ilya Ilf', 'Russia'),
           ('YP1', 'Yevgeny Petrov', 'Russia'),
           ('AN1', 'Annalyn Ng', 'US'),
           ('KS1', 'Kenneth Soo', 'US')]

try:
        cur.executemany(qry, authorslist)
        conn.commit()
        print ('Records inserted successfully..committed')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()

Records inserted successfully..committed

In [15]:
# Insert one record in table BOOKS based on user input

inputBookISBN=int(input('Enter Book ISBN:'))
inputName=input('Enter name of Book to update:')
inputPubYear=input('Enter publication year of book:')
inputLANG=input('Enter language of book:')
inputCAT=input('Enter category of book:')
inputAuthor=input('Enter author of book:')

qry="insert into BOOKS values (?,?,?,?,?,?);"

try:
        cur.execute(qry, (inputBookISBN, inputName, inputPubYear, inputLANG, inputCAT, inputAuthor))
        print ('New book added')
        conn.commit()
except:
        print ('Error in adding department .. rollback')
        conn.rollback()

Enter Book ISBN:147852369
Enter name of Book to update:Spring
Enter publication year of book:2018
Enter language of book:ENGLISH
Enter category of book:SH
Enter author of book:GF1
New book added

In [8]:
# QUERY and DISPLAY one record from the table BOOKS

# Prepare the query String
qry="select * from BOOKS;"

# Execute query on SQLite
cur.execute(qry)

# Fetch and display one row
row=cur.fetchone()

print (row)

(119234661, 'The Da Vinci code', 2020, 'TH', 'ENGLISH', 'DB1')

In [5]:
# Query and display records from the table BOOKS (all rows)

# Prepare the query String
qry="select * from BOOKS;"

# Execute query on SQLite
cur.execute(qry)

# Fetch and display all rows
rows=cur.fetchall()

for row in rows:
    print (row)

(119234661, 'The Da Vinci code', 2020, 'TH', 'ENGLISH', 'DB1')
(161219234, 'The Secret', 2016, 'ENGLISH', 'SH', 'RB1')
(189192346, 'War and Peace', 2019, 'RUSSIAN', 'FN', 'LT1')
(191923466, 'The Little Prince', 2018, 'FRENCH', 'FN', 'AE1')
(212923466, 'The Book Thief', 2018, 'ENGLISH', 'FN', 'MZ1')
(223466122, 'The Catcher In The Rye', 2021, 'ENGLISH', 'FN', 'JS1')
(292346612, 'Harry Potter and the Chamber of Secrets', 2009, 'ENGLISH', 'FS', 'JR1')
(321923466, 'One-storied America', 2007, 'RUSSIAN', 'FN', 'II1')
(334661234, 'Ben-Hur: A Tale of the Christ', 2019, 'ENGLISH', 'HS', 'LW1')
(361292346, 'She: Understanding Femini', 2021, 'ENGLISH', 'PS', 'RJ1')
(434661249, 'Rebecca', 2021, 'ENGLISH', 'FN', 'DM1')
(546612192, 'The Godfather', 2008, 'ENGLISH', 'FN', 'MP1')
(546619212, 'The Book Thief', 2018, 'GERMAN', 'FN', 'MZ1')
(566121923, 'Manâ€™s Search for Meaning', 2020, 'ENGLISH', 'PS', 'VF1')
(592346612, 'A Brief History Of Time', 2018, 'ENGLISH', 'NF', 'SH1')
(734661219, 'The Godfather', 2008, 'ENGLISH', 'FN', 'MP1')
(761219234, 'Becoming', 2019, 'ENGLISH', 'BG', 'MO1')
(821346612, 'Rich Dad, Poor Dad', 2015, 'ENGLISH', 'BS', 'RK1')
(866121923, 'The Godfather', 2008, 'ITALIAN', 'FN', 'MP1')
(946612192, 'Gone Girl', 2017, 'ENGLISH', 'HT', 'GF1')
(981456101, 'War and Peace', 2010, 'ENGLISH', 'FF', 'LT1')

In [19]:
# Query and display records from the table ECC_DEPARTMENT based on user input

inputISBN=input ('Enter book ISBN:')
qry="select * from BOOKS where ISBN=?";
cur.execute(qry, (inputISBN,))
row=cur.fetchone()
print (row)

# IMPORTANT: Individual items in the tuple can be accessed by index .. we are accessing the second attribute
print ("Book Name is ", row[1])

Enter book ISBN:821346612
(821346612, 'Rich Dad, Poor Dad', 2015, 'ENGLISH', 'BS', 'RK1')
Book Name is  Rich Dad, Poor Dad

In [10]:
# Update table based on user input

inputName=input('Enter name of BOOKS to update:')
inputbookISBN=int(input('Enter new book number:'))
qry='update BOOKS set ISBN=? where NAME=?'

try:
        cur.execute(qry, (inputName,inputbookISBN))
        print ('Book name updated')
        conn.commit()
except:
        print ('Error in update operation .. rollback')
        conn.rollback()

Enter name of BOOKS to update:Gone Girl
Enter new book number:123654789
Book name updated

In [17]:
# Update table based on user input

inputName=input('Enter name of books to update:')
inputbookISBN=int(input('Enter new book number:'))
qry='update BOOKS set ISBN=? where NAME=?'

try:
        cur.execute(qry, (inputName,inputbookISBN))
        print ('Book name updated')
        conn.commit()
except:
        print ('Error in update operation .. rollback')
        conn.rollback()

Enter name of books to update:Gone Girl
Enter new book number:147852365
Book name updated

In [18]:
# Delete record based on user input

inputName=input('Enter name of book to delete:')
qry='delete from BOOKS where NAME=?'
try:
        cur.execute(qry, (inputName,))
        print ('Book deleted')
        conn.commit()
except:
        print ('Error in deleting book', inputName)
        conn.rollback()

Enter name of book to delete:Gone Girl
Book deleted

In [ ]:
NoSQL REDIS  DATABASE APPLICATION

In [5]:
# Import Redis package
import redis

# Main class Redis() which you use to execute Redis commands (the port and db=0 are default values)
# Localhost = 127.0.0.1
r = redis.Redis(host='localhost', port=6379, db=10)

# Check database connection -will return true if successful
print(r.ping())

True

In [6]:
# The HSET command adds a key-value pair to a hash. If the hash does not exist one will be created. If a key already exists, the value for the key is set to the specified value.

# HSET - Add key value pairs to the Redis hash
r.hset("EAC:Library:Cust", "1", "AF001")
r.hset("EAC:Library:Cust", "2", "DB001")
r.hset("EAC:Library:Cust", "3", "JT001")
r.hset("EAC:Library:Cust", "4", "FL001")
r.hset("EAC:Library:Cust", "5", "HK001")
r.hset("EAC:Library:Cust", "6", "HP001")
r.hset("EAC:Library:Cust", "7", "JC001")
r.hset("EAC:Library:Cust", "8", "MJ001")
r.hset("EAC:Library:Cust", "9", "CB001")
r.hset("EAC:Library:Cust", "10", "AF002")
r.hset("EAC:Library:Cust", "11", "PL001")
r.hset("EAC:Library:Cust", "12", "JM001")
r.hset("EAC:Library:Cust", "13", "JM002")
r.hset("EAC:Library:Cust", "14", "HC001")
r.hset("EAC:Library:Cust", "15", "CM001")
r.hset("EAC:Library:Cust", "16", "KK001")
r.hset("EAC:Library:Cust", "17", "EB001")
r.hset("EAC:Library:Cust", "18", "RP001")
r.hset("EAC:Library:Cust", "19", "EW001")
r.hset("EAC:Library:Cust", "20", "EC001")


# HGET - Retrieve the value for a specific key
val = r.hget("EAC:Library:Cust", "4").decode("utf-8")
print (val)

# HKEYS retrieves all the keys present in a hash. The redis-py returns the keys as a Python list.
ky=r.hkeys("EAC:Library:Cust")


# Loop through keys present in a hash and display the values 
for x in ky:
    print("Key: ", x.decode("utf-8"))
    print("Value: ", r.hget("EAC:Library:Cust", x.decode("utf-8")).decode("utf-8"))    
    

# HKEYS retrieves all the keys present in a hash. The redis-py returns the keys as a Python list.
print("The keys present in the Redis hash:");
print(r.hkeys("EAC:Library:Cust"))

# HVALS retrieves all the keys present in a hash. The redis-py returns the values as a Python list.
print("The values present in the Redis hash:");
print(r.hvals("EAC:Library:Cust"))

# HGETALL retrieves all the keys and their values present in a hash. The redis-py returns the keys and values as a Python dictionary.
print("The keys and values present in the Redis hash are:")
print(r.hgetall("EAC:Library:Cust"))

# HDEL removes a key-value pair identified by a specific key.
print("After removal...")
r.hdel("EAC:Library:Cust", 4)
print(r.hgetall("EAC:Library:Cust"))

FL001
Key:  1
Value:  AF001
Key:  2
Value:  DB001
Key:  3
Value:  JT001
Key:  5
Value:  HK001
Key:  6
Value:  HP001
Key:  7
Value:  JC001
Key:  8
Value:  MJ001
Key:  9
Value:  CB001
Key:  10
Value:  AF002
Key:  11
Value:  PL001
Key:  12
Value:  JM001
Key:  13
Value:  JM002
Key:  14
Value:  HC001
Key:  15
Value:  CM001
Key:  16
Value:  KK001
Key:  17
Value:  EB001
Key:  18
Value:  RP001
Key:  19
Value:  EW001
Key:  20
Value:  EC001
Key:  4
Value:  FL001
The keys present in the Redis hash:
[b'1', b'2', b'3', b'5', b'6', b'7', b'8', b'9', b'10', b'11', b'12', b'13', b'14', b'15', b'16', b'17', b'18', b'19', b'20', b'4']
The values present in the Redis hash:
[b'AF001', b'DB001', b'JT001', b'HK001', b'HP001', b'JC001', b'MJ001', b'CB001', b'AF002', b'PL001', b'JM001', b'JM002', b'HC001', b'CM001', b'KK001', b'EB001', b'RP001', b'EW001', b'EC001', b'FL001']
The keys and values present in the Redis hash are:
{b'1': b'AF001', b'2': b'DB001', b'3': b'JT001', b'5': b'HK001', b'6': b'HP001', b'7': b'JC001', b'8': b'MJ001', b'9': b'CB001', b'10': b'AF002', b'11': b'PL001', b'12': b'JM001', b'13': b'JM002', b'14': b'HC001', b'15': b'CM001', b'16': b'KK001', b'17': b'EB001', b'18': b'RP001', b'19': b'EW001', b'20': b'EC001', b'4': b'FL001'}
After removal...
{b'1': b'AF001', b'2': b'DB001', b'3': b'JT001', b'5': b'HK001', b'6': b'HP001', b'7': b'JC001', b'8': b'MJ001', b'9': b'CB001', b'10': b'AF002', b'11': b'PL001', b'12': b'JM001', b'13': b'JM002', b'14': b'HC001', b'15': b'CM001', b'16': b'KK001', b'17': b'EB001', b'18': b'RP001', b'19': b'EW001', b'20': b'EC001'}

In [7]:
import json

recordAF001 = {
    "Full Name": "Alex Ferguson",
    "Occupation": "Coach",
    "Phone": "44789123456",
    "email": "af@gmail.com",
    "Book1 issued": "Manchester by the sea",
    "Book1 issue date": "15.07.2021"    
}

recordDB001 = {
    "Full Name": "David Bowie",
    "Occupation": "Singer",
    "Phone": "44789128556",
    "email": "db@gmail.com",
    "Book1 issued": "Space",
    "Book1 issue date": "14.07.2021"
}

recordJT001 = {
    "Full Name": "John Terry",
    "Occupation": "Sportsman",
    "Phone": "44789558556",
    "email": "jt@gmail.com",
    "Book1 issued": "Totally Frank",
    "Book1 issue date": "12.07.2021"
}

recordHK001 = {
    "Full Name": "Harry Kane",
    "email": "hk@gmail.com",
    "Book1 issued": "Football",
    "Book1 issue date": "01.03.2021",
    "Book1 return date": "04.03.2021"    
}

recordHP001 = {
    "Full Name": "Harry Potter",
    "Book1 issued": "Magic history",
    "Interests": "Magic",
    "Book1 issue date": "01.03.2021",
    "Book1 return date": "04.03.2021"    
}

recordJC001 = {
    "Full Name": "Jim Carrey",
    "Occupation": "Actor",
    "Phone": "44789128556",
    "email": "jk@gmail.com",
    "Interests": "Comedy"
}

recordMJ001 = {
    "Full Name": "Michael Jordan",
    "Book1 issued": "Game",
    "Book1 issue date": "11.07.2021",
}

recordCB001 = {
    "Full Name": "Carol Baker",
    "Book1 issued": "Management",
    "Book1 issue date": "11.07.2021",
}


recordAF002 = {
    "Full Name": "Alexander Fleming",
    "Book1 issued": "Biologic diversity",
    "Book1 issue date": "11.05.2021",
    "Book1 return date": "14.05.2021"
}

recordPL001 = {
    "Full Name": "Phillip Lacheau",
    "Book1 issued": "Theater and movie",
    "Book1 issue date": "12.05.2021",
    "Book1 return date": "13.05.2021"
}

recordJM001 = {
    "Full Name": "Jim Morrison",
    "Phone": 4452563577,
    "Book1 issued": "Poetry",
    "Book1 issue date": "14.05.2021",
    "Book1 return date": "17.05.2021"
}

recordJM002 = {
    "Full Name": "Jason Momoa",
    "Phone": 4452563577,
    "Interests": "Fighting",
    "Book1 issued": "Marital arts",
    "Book1 issue date": "10.06.2021",
    "Book1 return date": "18.06.2021"
}

recordHC001 = {
    "Full Name": "Helena Bonam Carter",
    "Interests": "Art",
    "Book1 issued": "Fight club",
    "Book1 issue date": "14.05.2021",
    "Book1 return date": "18.05.2021"
}

recordCM001 = {
    "Full Name": "Carey Mulligan",
    "Interests": "Art",
    "Book1 issued": "Great Gatsby",
    "Book1 issue date": "14.05.2021",
    "Book1 return date": "18.05.2021"
}

recordKK001 = {
    "Full Name": "Keira Knightley",
    "Book1 issued": "Anna Karenin",
    "Book1 issue date": "14.05.2021",
    "Book1 return date": "18.05.2021"
}

recordEB001 = {
    "Full Name": "Emily Blunt",
    "Book1 issued": "Fashion",
    "Book1 issue date": "15.05.2021",
    "Book1 return date": "18.05.2021"
}

recordRP001 = {
    "Full Name": "Rosamund Pike",
    "Book1 issue date": "15.05.2021",
    "Book1 return date": "18.05.2021"
}

recordEW001 = {
    "Full Name": "Emma Watson",
    "email": "ew@gmail.com",
    "Book1 issued": "Harry Potter",
    "Book1 issue date": "12.07.2021",
}


recordEC001 = {
    "Full Name": "Emily Clark",
    "Occupation": "Actress",
    "email": "ec@gmail.com",
    "Book1 issued": "Game of thrones",
    "Book1 issue date": "11.07.2021",
}


# The encode and dumps function together performs the task of converting the dictionary to string and then to corresponding byte value.
# using encode() + dumps() to convert to bytes
res_bytes_recordAF001 = json.dumps(recordAF001).encode('utf-8')
res_bytes_recordDB001 = json.dumps(recordDB001).encode('utf-8')
res_bytes_recordJT001 = json.dumps(recordJT001).encode('utf-8')
res_bytes_recordHK001 = json.dumps(recordHK001).encode('utf-8')
res_bytes_recordHP001 = json.dumps(recordHP001).encode('utf-8')
res_bytes_recordJC001 = json.dumps(recordJC001).encode('utf-8')
res_bytes_recordMJ001 = json.dumps(recordMJ001).encode('utf-8')
res_bytes_recordCB001 = json.dumps(recordCB001).encode('utf-8')
res_bytes_recordAF002 = json.dumps(recordAF002).encode('utf-8')
res_bytes_recordPL001 = json.dumps(recordPL001).encode('utf-8')
res_bytes_recordJM001 = json.dumps(recordJM001).encode('utf-8')
res_bytes_recordJM002 = json.dumps(recordJM002).encode('utf-8')
res_bytes_recordHC001 = json.dumps(recordHC001).encode('utf-8')
res_bytes_recordCM001 = json.dumps(recordCM001).encode('utf-8')
res_bytes_recordKK001 = json.dumps(recordKK001).encode('utf-8')
res_bytes_recordEB001 = json.dumps(recordEB001).encode('utf-8')
res_bytes_recordRP001 = json.dumps(recordRP001).encode('utf-8')
res_bytes_recordEW001 = json.dumps(recordEW001).encode('utf-8')
res_bytes_recordEC001 = json.dumps(recordEC001).encode('utf-8')


r.hset("EAC:Library:Cust_FullRecord", "1", res_bytes_recordAF001)
r.hset("EAC:Library:Cust_FullRecord", "2", res_bytes_recordDB001)
r.hset("EAC:Library:Cust_FullRecord", "3", res_bytes_recordJT001)
r.hset("EAC:Library:Cust_FullRecord", "5", res_bytes_recordHK001)
r.hset("EAC:Library:Cust_FullRecord", "6", res_bytes_recordHP001)
r.hset("EAC:Library:Cust_FullRecord", "7", res_bytes_recordJC001)
r.hset("EAC:Library:Cust_FullRecord", "8", res_bytes_recordMJ001)
r.hset("EAC:Library:Cust_FullRecord", "9", res_bytes_recordCB001)
r.hset("EAC:Library:Cust_FullRecord", "10", res_bytes_recordAF002)
r.hset("EAC:Library:Cust_FullRecord", "11", res_bytes_recordPL001)
r.hset("EAC:Library:Cust_FullRecord", "12", res_bytes_recordJM001)
r.hset("EAC:Library:Cust_FullRecord", "13", res_bytes_recordJM002)
r.hset("EAC:Library:Cust_FullRecord", "14", res_bytes_recordHC001)
r.hset("EAC:Library:Cust_FullRecord", "15", res_bytes_recordCM001)
r.hset("EAC:Library:Cust_FullRecord", "16", res_bytes_recordKK001)
r.hset("EAC:Library:Cust_FullRecord", "17", res_bytes_recordEB001)
r.hset("EAC:Library:Cust_FullRecord", "18", res_bytes_recordRP001)
r.hset("EAC:Library:Cust_FullRecord", "19", res_bytes_recordEW001)
r.hset("EAC:Library:Cust_FullRecord", "20", res_bytes_recordEC001)


# HKEYS retrieves all the keys present in a hash. The redis-py returns the keys as a Python list.
ky=r.hkeys("EAC:Library:Cust_FullRecord")

# Loop through keys present in a hash and display the values 
for x in ky:
    res_dict = json.loads(r.hget("EAC:Library:Cust_FullRecord", x.decode("utf-8")).decode('utf-8'))
    print(str(res_dict))

{'Full Name': 'Jim Morrison', 'Phone': 4452563577, 'Book1 issued': 'Poetry', 'Book1 issue date': '14.05.2021', 'Book1 return date': '17.05.2021'}
{'Full Name': 'John Terry', 'Occupation': 'Sportsman', 'Phone': '44789558556', 'email': 'jt@gmail.com', 'Book1 issued': 'Totally Frank', 'Book1 issue date': '12.07.2021'}
{'Full Name': 'Jason Momoa', 'Phone': 4452563577, 'Interests': 'Fighting', 'Book1 issued': 'Marital arts', 'Book1 issue date': '10.06.2021', 'Book1 return date': '18.06.2021'}
{'Full Name': 'Helena Bonam Carter', 'Interests': 'Art', 'Book1 issued': 'Fight club', 'Book1 issue date': '14.05.2021', 'Book1 return date': '18.05.2021'}
{'Full Name': 'Harry Kane', 'email': 'hk@gmail.com', 'Book1 issued': 'Football', 'Book1 issue date': '01.03.2021', 'Book1 return date': '04.03.2021'}
{'Full Name': 'Carey Mulligan', 'Interests': 'Art', 'Book1 issued': 'Great Gatsby', 'Book1 issue date': '14.05.2021', 'Book1 return date': '18.05.2021'}
{'Full Name': 'Harry Potter', 'Book1 issued': 'Magic history', 'Interests': 'Magic', 'Book1 issue date': '01.03.2021', 'Book1 return date': '04.03.2021'}
{'Full Name': 'Keira Knightley', 'Book1 issued': 'Anna Karenin', 'Book1 issue date': '14.05.2021', 'Book1 return date': '18.05.2021'}
{'Full Name': 'Jim Carrey', 'Occupation': 'Actor', 'Phone': '44789128556', 'email': 'jk@gmail.com', 'Interests': 'Comedy'}
{'Full Name': 'Emily Blunt', 'Book1 issued': 'Fashion', 'Book1 issue date': '15.05.2021', 'Book1 return date': '18.05.2021'}
{'Full Name': 'Michael Jordan', 'Book1 issued': 'Game', 'Book1 issue date': '11.07.2021'}
{'Full Name': 'Carol Baker', 'Book1 issued': 'Management', 'Book1 issue date': '11.07.2021'}
{'Full Name': 'Alexander Fleming', 'Book1 issued': 'Biologic diversity', 'Book1 issue date': '11.05.2021', 'Book1 return date': '14.05.2021'}
{'Full Name': 'Emily Clark', 'Occupation': 'Actress', 'email': 'ec@gmail.com', 'Book1 issued': 'Game of thrones', 'Book1 issue date': '11.07.2021'}
{'Full Name': 'Phillip Lacheau', 'Book1 issued': 'Theater and movie', 'Book1 issue date': '12.05.2021', 'Book1 return date': '13.05.2021'}
{'Full Name': 'Rosamund Pike', 'Book1 issue date': '15.05.2021', 'Book1 return date': '18.05.2021'}
{'Full Name': 'Emma Watson', 'email': 'ew@gmail.com', 'Book1 issued': 'Harry Potter', 'Book1 issue date': '12.07.2021'}
{'Full Name': 'Alex Ferguson', 'Occupation': 'Coach', 'Phone': '44789123456', 'email': 'af@gmail.com', 'Book1 issued': 'Manchester by the sea', 'Book1 issue date': '15.07.2021'}
{'Full Name': 'David Bowie', 'Occupation': 'Singer', 'Phone': '44789128556', 'email': 'db@gmail.com', 'Book1 issued': 'Space', 'Book1 issue date': '14.07.2021'}

In [8]:
# Check if a key exists in Redis hash
key = 1
print("Does the key {}, exists:".format(key))
print(r.hexists("EAC:Library:Cust_FullRecord", 1))

Does the key 1, exists:
True

In [9]:
# Print the key value pairs of the Redis hash
print(r.hgetall("EAC:Library:Cust_FullRecord"))

{b'10': b'{"Full Name": "Alexander Fleming", "Book1 issued": "Biologic diversity", "Book1 issue date": "11.05.2021", "Book1 return date": "14.05.2021"}', b'20': b'{"Full Name": "Emily Clark", "Occupation": "Actress", "email": "ec@gmail.com", "Book1 issued": "Game of thrones", "Book1 issue date": "11.07.2021"}', b'11': b'{"Full Name": "Phillip Lacheau", "Book1 issued": "Theater and movie", "Book1 issue date": "12.05.2021", "Book1 return date": "13.05.2021"}', b'12': b'{"Full Name": "Jim Morrison", "Phone": 4452563577, "Book1 issued": "Poetry", "Book1 issue date": "14.05.2021", "Book1 return date": "17.05.2021"}', b'13': b'{"Full Name": "Jason Momoa", "Phone": 4452563577, "Interests": "Fighting", "Book1 issued": "Marital arts", "Book1 issue date": "10.06.2021", "Book1 return date": "18.06.2021"}', b'14': b'{"Full Name": "Helena Bonam Carter", "Interests": "Art", "Book1 issued": "Fight club", "Book1 issue date": "14.05.2021", "Book1 return date": "18.05.2021"}', b'15': b'{"Full Name": "Carey Mulligan", "Interests": "Art", "Book1 issued": "Great Gatsby", "Book1 issue date": "14.05.2021", "Book1 return date": "18.05.2021"}', b'16': b'{"Full Name": "Keira Knightley", "Book1 issued": "Anna Karenin", "Book1 issue date": "14.05.2021", "Book1 return date": "18.05.2021"}', b'17': b'{"Full Name": "Emily Blunt", "Book1 issued": "Fashion", "Book1 issue date": "15.05.2021", "Book1 return date": "18.05.2021"}', b'18': b'{"Full Name": "Rosamund Pike", "Book1 issue date": "15.05.2021", "Book1 return date": "18.05.2021"}', b'19': b'{"Full Name": "Emma Watson", "email": "ew@gmail.com", "Book1 issued": "Harry Potter", "Book1 issue date": "12.07.2021"}', b'1': b'{"Full Name": "Alex Ferguson", "Occupation": "Coach", "Phone": "44789123456", "email": "af@gmail.com", "Book1 issued": "Manchester by the sea", "Book1 issue date": "15.07.2021"}', b'2': b'{"Full Name": "David Bowie", "Occupation": "Singer", "Phone": "44789128556", "email": "db@gmail.com", "Book1 issued": "Space", "Book1 issue date": "14.07.2021"}', b'3': b'{"Full Name": "John Terry", "Occupation": "Sportsman", "Phone": "44789558556", "email": "jt@gmail.com", "Book1 issued": "Totally Frank", "Book1 issue date": "12.07.2021"}', b'5': b'{"Full Name": "Harry Kane", "email": "hk@gmail.com", "Book1 issued": "Football", "Book1 issue date": "01.03.2021", "Book1 return date": "04.03.2021"}', b'6': b'{"Full Name": "Harry Potter", "Book1 issued": "Magic history", "Interests": "Magic", "Book1 issue date": "01.03.2021", "Book1 return date": "04.03.2021"}', b'7': b'{"Full Name": "Jim Carrey", "Occupation": "Actor", "Phone": "44789128556", "email": "jk@gmail.com", "Interests": "Comedy"}', b'8': b'{"Full Name": "Michael Jordan", "Book1 issued": "Game", "Book1 issue date": "11.07.2021"}', b'9': b'{"Full Name": "Carol Baker", "Book1 issued": "Management", "Book1 issue date": "11.07.2021"}'}

In [10]:
# Remove a key (deleting a key)
r.hdel("EAC:Library:Cust_FullRecord", 20)

1

In [14]:
# Print the key after a key-value is removed
print("After deletion of a key:")
print(r.hgetall("EAC:Library:Cust_FullRecord"))

After deletion of a key:
{b'10': b'{"Full Name": "Alexander Fleming", "Book1 issued": "Biologic diversity", "Book1 issue date": "11.05.2021", "Book1 return date": "14.05.2021"}', b'11': b'{"Full Name": "Phillip Lacheau", "Book1 issued": "Theater and movie", "Book1 issue date": "12.05.2021", "Book1 return date": "13.05.2021"}', b'12': b'{"Full Name": "Jim Morrison", "Phone": 4452563577, "Book1 issued": "Poetry", "Book1 issue date": "14.05.2021", "Book1 return date": "17.05.2021"}', b'13': b'{"Full Name": "Jason Momoa", "Phone": 4452563577, "Interests": "Fighting", "Book1 issued": "Marital arts", "Book1 issue date": "10.06.2021", "Book1 return date": "18.06.2021"}', b'14': b'{"Full Name": "Helena Bonam Carter", "Interests": "Art", "Book1 issued": "Fight club", "Book1 issue date": "14.05.2021", "Book1 return date": "18.05.2021"}', b'15': b'{"Full Name": "Carey Mulligan", "Interests": "Art", "Book1 issued": "Great Gatsby", "Book1 issue date": "14.05.2021", "Book1 return date": "18.05.2021"}', b'16': b'{"Full Name": "Keira Knightley", "Book1 issued": "Anna Karenin", "Book1 issue date": "14.05.2021", "Book1 return date": "18.05.2021"}', b'17': b'{"Full Name": "Emily Blunt", "Book1 issued": "Fashion", "Book1 issue date": "15.05.2021", "Book1 return date": "18.05.2021"}', b'18': b'{"Full Name": "Rosamund Pike", "Book1 issue date": "15.05.2021", "Book1 return date": "18.05.2021"}', b'19': b'{"Full Name": "Emma Watson", "email": "ew@gmail.com", "Book1 issued": "Harry Potter", "Book1 issue date": "12.07.2021"}', b'1': b'{"Full Name": "Alex Ferguson", "Occupation": "Coach", "Phone": "44789123456", "email": "af@gmail.com", "Book1 issued": "Manchester by the sea", "Book1 issue date": "15.07.2021"}', b'2': b'{"Full Name": "David Bowie", "Occupation": "Singer", "Phone": "44789128556", "email": "db@gmail.com", "Book1 issued": "Space", "Book1 issue date": "14.07.2021"}', b'3': b'{"Full Name": "John Terry", "Occupation": "Sportsman", "Phone": "44789558556", "email": "jt@gmail.com", "Book1 issued": "Totally Frank", "Book1 issue date": "12.07.2021"}', b'5': b'{"Full Name": "Harry Kane", "email": "hk@gmail.com", "Book1 issued": "Football", "Book1 issue date": "01.03.2021", "Book1 return date": "04.03.2021"}', b'6': b'{"Full Name": "Harry Potter", "Book1 issued": "Magic history", "Interests": "Magic", "Book1 issue date": "01.03.2021", "Book1 return date": "04.03.2021"}', b'7': b'{"Full Name": "Jim Carrey", "Occupation": "Actor", "Phone": "44789128556", "email": "jk@gmail.com", "Interests": "Comedy"}', b'8': b'{"Full Name": "Michael Jordan", "Book1 issued": "Game", "Book1 issue date": "11.07.2021"}', b'9': b'{"Full Name": "Carol Baker", "Book1 issued": "Management", "Book1 issue date": "11.07.2021"}'}