In [1]:
import sqlite3

# Display SQLite version number
print (sqlite3.sqlite_version)

3.27.2

In [2]:
conn=sqlite3.connect('S:\\GroupProject\\Ecommerce.db')
print(type(conn))

# The connection object (conn) has access to various methods of the Connection class. 
# We are using the method cursor() and which returns a cursor object.
# The cursor object is essential to perform any operation on the database (CRUD operations).
cur=conn.cursor()

# The next command is only for display
print(type(cur))

<class 'sqlite3.Connection'>
<class 'sqlite3.Cursor'>

In [3]:
def tables_in_sqlite_db(conn):
    cursor = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [
        v[0] for v in cursor.fetchall()
        if v[0] != "sqlite_sequence"
    ]
    cursor.close()
    return tables

In [11]:
# call the function and pass connection object 
tables = tables_in_sqlite_db(conn)

#print tables in the current database
print(tables)

['ECO_INVENTORY', 'ORD_INV', 'ORD_DEL', 'E_EMPLOYEE', 'EC_ORDER', 'E_Warehouse', 'E_CUSTOMER', 'E_BILLINGINFO', 'E_COURIER', 'E_DELIVERYINFO']

In [10]:
cur.execute("DROP TABLE DELIVERY_INFO")
print("Table dropped... ")
conn.commit()

Table dropped...

In [21]:
cur.execute("ALTER TABLE E_Warehouse add column 'employeeID' INTEGER")

In [22]:
cur.execute("ALTER TABLE E_Warehouse add column 'FOREIGN KEY (employeeID) REFERENCES E_EMPLOYEE (employeeID)' 'INTEGER'")

In [15]:
qry='''
CREATE TABLE GP_INVENTORY (
invID INTEGER PRIMARY KEY,
invName TEXT (50),
invColour TEXT (40),
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Error in creating table

In [30]:
qry='''
CREATE TABLE ETest_INVENTORY (
invID INTEGER PRIMARY KEY,
invName TEXT (30),
invBrand TEXT (40),
invColour TEXT (40),
invSize INTEGER NOT NULL,
invQuantity INTEGER NOT NULL,
invPackaging TEXT (40)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [31]:
qry='''
CREATE TABLE E_Warehouse (
storeID INTEGER PRIMARY KEY,
storeName TEXT (30),
storeAddress TEXT (40),
storePhone INTEGER NOT NULL
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [39]:
qry='''
CREATE TABLE E_INVENTORY (
invID INTEGER PRIMARY KEY,
invName TEXT (30),
invBrand TEXT (40),
invColour TEXT (40),
invSize INTEGER NOT NULL,
invQuantity INTEGER NOT NULL,
invPackaging TEXT (40),
storeID INTEGER NOT NULL,
FOREIGN KEY (storeID) REFERENCES E_Warehouse (storeID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [5]:
qry='''
CREATE TABLE ECO_INVENTORY (
invID INTEGER PRIMARY KEY,
invName TEXT (30) NOT NULL,
invBrand TEXT (40) NOT NULL,
invColour TEXT (40) NOT NULL,
invSize INTEGER NOT NULL,
invQuantity INTEGER NOT NULL,
invPackaging TEXT (40),
storeID INTEGER NOT NULL,
FOREIGN KEY (storeID) REFERENCES E_Warehouse (storeID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [16]:
qry='''
CREATE TABLE ECO_ORDER (
orderID INTEGER PRIMARY KEY,
orderDate INTEGER NOT NULL,
orderDiscInfo INTEGER NOT NULL,
orderComment TEXT (50) NOT NULL,
orderStatus TEXT (50) NOT NULL,
invID INTEGER NOT NULL,
FOREIGN KEY (invID) REFERENCES ECO_INVENTORY (invID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Error in creating table

In [17]:
qry='''
CREATE TABLE EC_ORDER (
orderID INTEGER PRIMARY KEY,
orderDate INTEGER NOT NULL,
orderDiscInfo INTEGER NOT NULL,
orderComment TEXT (50) NOT NULL,
orderStatus TEXT (50) NOT NULL,
invID INTEGER NOT NULL,
delID INTEGER NOT NULL,
FOREIGN KEY (invID) REFERENCES ECO_INVENTORY (invID),
FOREIGN KEY (delID) REFERENCES DELIVERY_INFO (delID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [18]:
qry='''
CREATE TABLE ORD_INV (
orderID INTEGER NOT NULL,
invID INTEGER NOT NULL,
PRIMARY KEY (orderID, invID),
FOREIGN KEY (invID) REFERENCES ECO_INVENTORY (invID),
FOREIGN KEY (orderID) REFERENCES ECO_ORDER (orderID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [23]:
qry='''
CREATE TABLE CUST_TEST (
custID INTEGER PRIMARY KEY,
custFirstName TEXT (30),
orderID INTEGER,
FOREIGN KEY (orderID) REFERENCES ECO_ORDER (orderID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [23]:
qry='''
CREATE TABLE E_CUSTOMER (
custID INTEGER PRIMARY KEY,
custFirstName TEXT (30) NOT NULL,
custLastName TEXT (40) NOT NULL,
custAddress TEXT (40) NOT NULL,
custEmail TEXT (40) NOT NULL,
custPhone INTEGER,
orderID INTEGER,
FOREIGN KEY (orderID) REFERENCES ECO_ORDER (orderID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [8]:
qry='''
CREATE TABLE E_DELIVERYINFO (
delID INTEGER PRIMARY KEY,
custID INTEGER,
courierID INTEGER,
FOREIGN KEY (custID) REFERENCES CUST_TEST (custID),
FOREIGN KEY (courierID) REFERENCES E_COURIER (courierID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [26]:
qry='''
CREATE TABLE ORD_DEL (
orderID INTEGER NOT NULL,
delID INTEGER NOT NULL,
PRIMARY KEY (orderID, delID),
FOREIGN KEY (delID) REFERENCES DELIVERY_INFO (delID),
FOREIGN KEY (orderID) REFERENCES ECO_ORDER (orderID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (BEMM459.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [7]:
qry='''
CREATE TABLE E_EMPLOYEE (
employeeID INTEGER PRIMARY KEY,
employeeFirstName TEXT (30),
employeeLastName TEXT (30),
employeeDOB INTEGER NOT NULL, 
employeeType INTEGER NOT NULL, 
employeeEmail TEXT (30), 
employeeSalary INTEGER NOT NULL, 
employeeHireDate INTEGER NOT NULL, 
storeID INTEGER NOT NULL,
FOREIGN KEY (storeID) REFERENCES E_WAREHOUSE (storeID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (groupproject3.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [5]:
qry='''
CREATE TABLE E_BILLINGINFO (
billingID INTEGER PRIMARY KEY,
bilingFirstName TEXT (30) NOT NULL,
billingLastName TEXT (30) NOT NULL,
billingAddress TEXT (50) NOT NULL, 
billingTransaction INTEGER NOT NULL, 
billingDate INTEGER NOT NULL, 
custID INTEGER NOT NULL, 
FOREIGN KEY (custID) REFERENCES E_CUSTOMER (custID)
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (groupproject3.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [7]:
qry='''
CREATE TABLE E_COURIER (
courierID INTEGER PRIMARY KEY,
courierName TEXT (50) NOT NULL,
courierPhone INTEGER NOT NULL, 
courierEmail TEXT (30) NOT NULL 
);
'''
try:
        cur.execute(qry)
        print ('Table created successfully')
except:
# If table already exists then use the SQLite console to connect to the database (groupproject3.db) and then use the drop table command.
# .. Altenatively, use the SQLiteStudio GUI to delete table ECC_DEPARTMENT and execute this code block again.
        print ('Error in creating table')

Table created successfully

In [27]:
conn.close()

In [40]:
qry="insert into E_Warehouse values (1, 'NameTest', 'AddressTest',1234567);"

try:
        cur.execute(qry)
        conn.commit()
        print ('One record inserted successfully..commit')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()
        print(conn)

One record inserted successfully..commit

In [46]:
qry="insert into E_Inventory values (11, 'InvNameTest', 'InvBrandTest','Blue', 12, 20, 'invPackagingTest', 1);"

try:
        cur.execute(qry)
        conn.commit()
        print ('One record inserted successfully..commit')
except:
        print ('Error in insert operation..rollback')
        conn.rollback()
        print(conn)

One record inserted successfully..commit

In [48]:
qry="select * from E_INVENTORY;"
cur.execute(qry)

# Fetch and display one row
row=cur.fetchone()

print (row)

(11, 'InvNameTest', 'InvBrandTest', 'Blue', 12, 20, 'invPackagingTest', 1)

In [30]:
# Query and display one record from the table ECC_DEPARTMENT

# Prepare the query String
qry="select * from E_INVENTORY;"

# Execute query on SQLite
cur.execute(qry)

# Fetch and display one row
row=cur.fetchone()

print (row)

OperationalError: no such table: E_INVENTORY

In [ ]:
# Query and display records from the table ECC_DEPARTMENT based on user input

inputDepartmentNum=input ('Enter ECE_department number:')
qry="select * from ECC_department where departmentID=?";
cur.execute(qry, (inputDepartmentNum,))
row=cur.fetchone()
print (row)

# IMPORTANT: Individual items in the tuple can be accessed by index .. we are accessing the second attribute
print ("Department Name is ", row[1])

In [ ]:
# Update table based on user input

inputName=input('Enter name of ECC_department to update:')
inputDepartmentNum=int(input('Enter new department number:'))
qry='update ECC_department set departmentID=? where departmentName=?'

try:
        cur.execute(qry, (inputDepartmentNum,inputName))
        print ('Department name updated')
        conn.commit()
except:
        print ('Error in update operation .. rollback')
        conn.rollback()

In [ ]:
# Delete record based on user input

inputName=input('Enter name of ECC_department to delete:')
qry='delete from ECC_department where departmentName=?'
try:
        cur.execute(qry, (inputName,))
        print ('Department deleted')
        conn.commit()
except:
        print ('Error in deleting department', inputName)
        conn.rollback()